<DOCTYPE html>
<html lang="en">
<head>
<title> Falcon Fitness Center </title>
<meta charset ="utf-8">
<link href="css/ExternalStyleSheetFFC.css" rel="stylesheet">
</head>
<body>
 <div id="container">
<main>

<header>

     
	 <img src="images/FFCLogoV2.png" alt="Falcon Fitness Center Logo" height= 300 width= 300>
</header>


<nav>
     <a href="index.html">Home</a> &nbsp; &nbsp;

     <a href="about.html">About Us</a> &nbsp; &nbsp;

     <a href="classes.html">Classes</a> &nbsp; &nbsp;

     <a href="nutrition.html">Nutrition</a> &nbsp; &nbsp;

     <a href="contact.html">Contact Us</a>
</nav>



</main>

<footer>

     &copy; Copyright 2022. All Rights Reserved. <br>

     <a href="email.html">falconfitnesscenter@gmail.com </a>

</footer>
</div>
</body>

</html>